@extends("master.html")
@require(articles, categories, wlog_url)
@def content():

<div class="categories">
[ <a href="@{wlog_url}/">all</a> ]
@for category in categories:
[ <a href="@{wlog_url}@{category}/">@{category}</a> ]
@endfor
</div>
<hr>

@for article in articles:
<article>
<h1><a href="@{wlog_url}@{article['url']}">@{article['title']}</a></h1>
<div class="tag">by z411 @ @{article['date_str']}
@if article['category']:
<span style="float:right">[ <a href="@{wlog_url}@{article['category']}/">@{article['category']}</a> ]</span>
@endif
</div>
@{article['short']}
@if article['cut']:
<div class="readmore"><a href="@{wlog_url}@{article['url']}">Read more →</a></div>
@endif
<div class="off"><a href="@{wlog_url}@{article['url']}">Permalink</a> | @{article['time']}</div>
</article>
@endfor
@end
