@extends("master.html")
@require(article, wlog_url)
@def content():

<div class="btn"><a href="@{wlog_url}">← go back</a></div>
<div class="article">
<div class="articleh">
@{article['date_str']}
@if article['category']:
<span style="float:right">[ <a href="@{wlog_url}cat/@{article['category']}.html">@{article['category']}</a> ]</span>
@endif
</div>
<div class="box">
<div class="title"><a href="@{wlog_url}@{article['url']}.html">■</a> @{article['title']}</div>
<div class="body">
@{article['body']}
</div>
<div class="off"><a href="@{wlog_url}@{article['url']}.html">Permalink</a> | @{article['time']}</div>
</div>
</div>
@end