@extends("master.html")
@require(article, wlog_url)
@def content():

<div class="btn"><a href="@{wlog_url}">← go back</a></div>
<hr>
<article>
<h1>@{article['title']}</h1>
<div class="tag">by z411 @ @{article['date_str']}
@if article['category']:
<span style="float:right">[ <a href="@{wlog_url}@{article['category']}/">@{article['category']}</a> ]</span>
@endif
</div>
@{article['body']}
<div class="off"><a href="@{article['share_twitter']}">Tweet</a> | <a href="@{wlog_url}@{article['url']}">Permalink</a> | @{article['time']}</div>
</article>

@end
