@require(title, description, image, version, site_url, wlog_url, wlog_via)
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>@{title}</title>
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{wlog_via}">
<meta name="twitter:title" content="@{title}">
<meta name="twitter:description" content="@{description}">
@if image:
<meta name="twitter:image" content="@{image}">
@end
<link href="/s/style.css" rel="stylesheet" type="text/css">
</head>
<body class="wlog">
<header>
  <strong>オマエラ</strong>
  wlog
  <nav>[
    <a href="/" class="home">home</a>
    <a href="/notme" class="notme">not me</a>
    <a href="/wlog/" class="s wlog">wlog</a>
    <a href="/gal/" class="gal">gallery</a>
    <a href="/server" class="server">server</a>
    <a href="/scripts" class="scripts">scripts</a>
    <a href="/links" class="links">links</a>
  ]</nav>
</header>
<hr>
<main>

@def content():
@end
@content()
</main>
<footer>
  web ★ omaera · org
</footer>
</body>
</html>
